/*html{*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/

html,body{;
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	width: 100%;
	height: 100%;
}

a:link {
	background: transparent;
	text-decoration: none;
	color: #fff;
}

.content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*min-height: 800px;*/
	min-width: 800px;
	position: relative;
}

.wrap-head{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #09c;
}

.main{
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 60px;
	bottom: 0;
}

.main .main-left{
	position: absolute;
	/*top: 0;*/
	/*left: 0;*/
	width: 180px;
	min-height:100%;
	background-color: #293038;
}

.main .main-right{
	position: absolute;
	border-left: 1px solid #eeeeee;
	top: 0;
	left: 180px;
	right:0;
	max-width: 100%;
	min-height:100%;
	background-color: #eaedf1;
}

/*.main .main-right .main-right-content{*/
	/*position: relative;*/
	/*width:100%*/
/*}*/
footer{
	position: absolute;
	bottom: 0;
	width:100%;
	min-height: 60px;
	height:60px;
	background-color: #eeeeee;
}

.panel-noradio{
	border-radius: 0;
}

.main-right{
	padding: 10px 30px;
}

.buckets{
	width: 50px;
	margin-bottom: 20px;
}