<extend name="Public/base" />
<block name="style">
	<title>All In One</title>
</block>

<block name="content">
	<div class="page-header"><h1>All Things Are Here</h1></div>
	<div class="main">
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#music" data-toggle="tab">Music</a>
				</li>
				<li><a href="#video" data-toggle="tab">Video</a></li>
				<li><a href="#douyu" data-toggle="tab">douyu</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="music">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>歌曲</td>
								<td>歌手</td>
								<td>专辑</td>
							</tr>
						</thead>
						<tbody>
							<foreach name="xiamisongs" item="song">
								<tr>
									<td>{$song['song_name']}</td>
									<td>{$song['singers'][0]['name']}</td>
									<td>{$song['album_name']}</td>
								</tr>
							</foreach>
						</tbody>
					</table>
				</div>

				<div class="tab-pane fade" id="video">
					<p>Here are videos.</p>
				</div>

				<div class="tab-content fade" id="douyu">
					<embed width="600" height="360" allownetworking="all" allowscriptaccess="always" src="http://staticlive.douyutv.com/common/share/play.swf?room_id=319721" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
					</embed>
				</div>
		</div>
	</div>
</block>

<block name="javascript">
	<script type="text/javascript" src="__JS__/h_login.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var e = pt.login.getSubmitUrl("login");
		})
	</script>
</block>